<%= stylesheet_link_tag 'home' %>
<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>

<%= render file:"partials/_header"  %>
<div id="parallax">
  <div id="main" class="parallax-window" data-parallax="scroll" data-image-src="#">
  </div>
  <!-- main end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="motto">
        <div class="home_box">
          <div class="motto_content">
          Knowledge for the People, By the People
          </div>
       </div>
      </div>
    </div>
  </div>
  <!-- mountain begin -->
  <div id="mountain" class="parallax-window" data-parallax="scroll" data-image-src="#">
  </div>
  <!-- mountain end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="phase">
        <div class="home_box">
          <div class="motto_content">
          Catering to the Curious
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- valley begin -->
  <div id="valley" class="parallax-window" data-parallax="scroll" data-image-src="#">

  </div>
  <!-- valley end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="social">
        <div class="home_box">
          <div class="motto_content">
            Feedback</br>
            E-mail me at
            Santino62@Gmail.com
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- river begin -->
  <div id="river" class="parallax-window" data-parallax="scroll" data-image-src="#">
    <div id="gmaps">

    </div>
  </div>
  <!-- river end -->
</div>
<br></br>
<br></br>
<div id="arrow"><%= image_tag "arrow.gif" %></div>

























