<div id="parallax">
  <div id="main" class="parallax-window" data-parallax="scroll" data-image-src="../assets/running.jpg">
<div id="arrow"><%= image_tag "arrow.gif" %></div>
  </div>
  <!-- main end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="motto">
        <div class="home_box">
          <div class="motto_content">
         something about the point of this app
          </div>
       </div>
      </div>
    </div>
  </div>
  <!-- mountain begin -->
  <div id="mountain" class="parallax-window" data-parallax="scroll" data-image-src="../assets/parallax1.jpeg">
  </div>
  <!-- mountain end -->
</div>


























