/*-- Chart --*/

.c3 svg {
  font: 16px Helvetica; }

.c3 path, .c3 line {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
/*.c3-region {
  fill: steelblue;
  fill-opacity: 0.1; }*/

.c3-region.regionY {
  fill: red;
  fill-opacity: 0.1; }

.c3-region.regionY2 {
  fill: #ff5e10;
  fill-opacity: 0.8; }

.c3-region.regionY3 {
  fill: #593fd1;
  fill-opacity: 0.1; }

  .c3-region.regionY4 {
  fill: #35d198;
  fill-opacity: 0.1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }

.c3-shape .c3-shape-9 .c3-bar .c3-bar-9 {
  fill: green;
}
span {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

#fact {
  font-size: 10px;
}

#arrow {
  text-align: center;
  width: 80px;
  height: 80px;
}

/*Content*/
#parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}

.fusion {
  height: 550px;
  width: 100%;
  -webkit-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  background-color: black;
}

#main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}

#mountain {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}

#motto {
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.home_box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-top: 45px;
  padding-bottom: 25px;
  table-layout: fixed;
}

.motto_content {
  margin-bottom: 7%;
  font-size: 2.5em;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.inner-fusion {
  margin: 0 auto;
  height: 100%;
}

#login {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
  border: 6px solid black;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

a {
   color:inherit;
   text-decoration: none;
}

.jawbone {
  font-family: 'Rosario', sans-serif;
}

#lifetime {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 80%;
  height: 50%;
  opacity: 200;
  font-family: 'Quicksand', sans-serif;
  font-size: 10em;
}

#disclaimer {
  border-top: 2px solid black;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


html {
  font-family: 'Quicksand', sans-serif;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/***** NAVBAR *****/

nav {
  background-color: black;
  color: #fff;
  padding-bottom: 1px;
  font-family: 'Quicksand', sans-serif;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 90%;
}

nav ul li {
  display: inline-block;
  margin: 0 5% 0 5%;
}

nav a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  /*text-decoration: none;*/
  transform: scale(1.8);
  transition: all 1s ease-in-out;
}

.logo {
  height: 75px;
  width: 75px;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.chart, .time-chart {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}


/*Drawers*/
.menu-left {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;

  z-index: 100;

  overflow: auto;
  -webkit-transition: left 200ms;
  transition: left 200ms;

  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

.menu-left.open{
  left: 0;
}

#left_side_bar_content{
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;
  list-style-type: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.menu-right {
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;

  z-index: 100;

  overflow: auto;
  -webkit-transition: right 200ms;
  transition: right 200ms;

  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

.menu-right.open{
  right: 0;
}

#right_side_bar_content{
  padding-top: 15%;
}

#profile_image {
  width:50%;
  height:50%;
}

/*CLOCK BEGINS*/
.toggleable {
  color: black;
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid black;*/
  width: 80%;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  cursor: pointer;
}

#plus {
  color: #29A329;
}

#minus {
  color: #980000;
}
/*CLOCK ENDS*/

span a:hover {
  text-decoration: underline;
}

.yourlife {
  font-family: 'Quicksand', sans-serif;
  color: black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: .5em;
}

.bar-graph:hover {
  text-decoration: underline;
}








/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


 */


