<div class="menu-left">
        <div>
          <h1 style="text-align:center;">Settings</h1>
          <div class="social">
          </div>
          <ul id="omnii_setting">
            <li>Browse</li>
            <li>Classroom</li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="omnii-header">
        <nav>
          <ul>
            <li><a href="/home" class="logo">LifeTime</a></li>
            <li><a href="#" class="open-left"><img src="assets/settings.png"></a></li>
            <!-- Search Bar -->
            <!-- USER SETTINGS BEGINS -->
            <li>
              <div class="open-right">
                <a href="#"><img src="assets/profile.png"></span></a>
              </div>
            </li>
            <li>
              <a href="/logout"><img src="assets/logout.png"></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- RIGHT DRAWER -->
      <div class="menu-right">
        <div>
          <h1 style="text-align:center"><%=   %></h1>
          <div class="user_settings">
          </div>
          <ul id="user_info">
            <li><h1>Profile</h1></li></br>
            <li>Friends</li></br>
            <li><a href="#"><img class='scconnect' src="assets/soundcloud-connect.png"></li>
            <li><a href="#" id="play_music"><img src="assets/play.png"></a></li>
            <li><a href="#" id="pause_music" style="display:none;"><img src="assets/pause.png"></a></li>
            <li></li>
          </ul>
        </div>
      </div>
