<div id="message">
  MAKE SOMETHING BEAUTIFUL!
</div>
<div id='buttons'>
  <button id='l_button' type="button">Login</button>
  <button id='r_button' type="button">Register</button>
</div>
<!-- LOGIN BEGIN -->
<div id='login' style='display: none'>
  <span style='color: white'>
  <div id="login-errors" style="display:none;">
  </div>
  </span>
  <form id="login_form" onsubmit="return false;">
    <input id='input' type='text' placeholder='Enter Username' name='username'>
    <input id='input' type='password' placeholder='Enter Password' name='password'></br>
    <input id='login_button' type='submit' value='Login' style='margin-top: 14px'>
  </form>
</div>
<!-- LOGIN ENDS -->
<!-- REGISTER BEGIN -->
<div id="register" style='display: none'>
  <% if @user %>
  <% @user.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
  <% end %>
</br>
  <form id='register_form' action='/register' method='post'>
    <input id='input' type='text' name='name' placeholder='Enter Name'></br></br>
    <input id='input' type='text' name='username' placeholder='Enter Username'></br></br>
    <input id='input' type='password' name='password' placeholder='Enter Password'></br></br>
    <input id='r_button' type='submit' value='Register' style='margin-top: 12px'>
  </form>
</div>
<!-- REGISTER END -->
<!-- FB BEGIN -->
<div>
  <% if !session['oauth'][:access_token] %>
    <a href='/facebook'><div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div></a>
  <% end %>
</div>
