#parallax
  #main.parallax-window{"data-image-src" => asset_path('running.jpg'), "data-parallax" => "scroll"}
    #lifetime
      %span LifeTime
    %div
      %img#arrow{:src => "http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-arrows/114846-magic-marker-icon-arrows-arrow4-down.png"}/
  / main end
  .fusion
    .inner-fusion
      #motto
        .home_box
          .motto_content
            LifeTime aims to improve your health by inspiring behavioral change.
          .motto_content
            Log in to live longer.
  / mountain begin
  #mountain.parallax-window{"data-image-src" => asset_path('parallax1.jpeg'), "data-parallax" => "scroll"}
    #login
      %a{:href => "https://life-time.herokuapp.com/auth/jawbone"}
        %h1
          login with
          %span.jawbone JAWBONE
      %p#disclaimer Disclaimer: We are not doctors, and this is in no way real medical advice. If you are concerned, contact a real doctor.
  / mountain end
