#parallax
  #main.parallax-window{"data-image-src" => "../assets/running.jpg", "data-parallax" => "scroll"}
    %div
      %img#arrow{:src => "http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-arrows/114846-magic-marker-icon-arrows-arrow4-down.png"}/
    #lifetime
      %span LifeTime
  / main end
  .fusion
    .inner-fusion
      #motto
        .home_box
          .motto_content
            LifeTime aims to improve users' health and lifestyle by inspiring behavioral change.
  / mountain begin
  #mountain.parallax-window{"data-image-src" => "../assets/parallax1.jpeg", "data-parallax" => "scroll"}
    #login
      %a{:href => "https://localhost:3000/auth/jawbone"}
        %h1
          login with
          %span.jawbone JAWBONE
      %p#disclaimer Disclaimer: We are not doctors, and this is in no way real medical advice. If you are concerned, contact a real doctor.
  / mountain end
