<!DOCTYPE html>
<html>
<head>
  <title>LifeTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
  <link href="/C3_graphs/c3.css" rel="stylesheet" type="text/css">
	<!-- Load d3.js and c3.js -->
	<script src="/C3_graphs/d3.min.js" charset="utf-8"></script>
	<script src="/C3_graphs/c3.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
