/***** NAVBAR *****/
nav {
  background-color: black;
  color: #fff;
  padding-bottom: 1px;
  font-family: 'Quicksand', sans-serif;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 90%;
}

nav ul li {
  display: inline-block;
  margin: 0 5% 0 5%;
}

nav a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  /*text-decoration: none;*/
  transform: scale(1.8);
  transition: all 1s ease-in-out;
}

.logo {
  height: 75px;
  width: 75px;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.chart, .time-chart {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}


/*Drawers*/
.menu-left {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;

  z-index: 100;

  overflow: auto;
  -webkit-transition: left 200ms;
  transition: left 200ms;

  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

.menu-left.open{
  left: 0;
}

#left_side_bar_content{
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;
  list-style-type: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.menu-right {
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;

  z-index: 100;

  overflow: auto;
  -webkit-transition: right 200ms;
  transition: right 200ms;

  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

.menu-right.open{
  right: 0;
}

#right_side_bar_content{
  padding-top: 15%;
}

#profile_image {
  width:50%;
  height:50%;
}

/*CLOCK BEGINS*/
#clock {
  color: black;
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid black;*/
  width: 80%;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

#plus {
  color: #29A329;
}

#minus {
  color: #980000;
}
/*CLOCK ENDS*/

span a:hover {
  text-decoration: underline;
}













