span {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

#fact {
  font-size: 10px;
}

#arrow {
  text-align: center;
  width: 80px;
  height: 80px;
}

/*Content*/
#parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}

.fusion {
  height: 550px;
  width: 100%;
  -webkit-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  background-color: black;
}

#main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}

#mountain {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}

#motto {
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.home_box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-top: 45px;
  padding-bottom: 25px;
  table-layout: fixed;
}

.motto_content {
  margin-bottom: 7%;
  font-size: 2.5em;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.inner-fusion {
  margin: 0 auto;
  height: 100%;
}

#login {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
  border: 6px solid black;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

a {
   color:inherit;
   text-decoration: none;
}

.jawbone {
  font-family: 'Rosario', sans-serif;
}

#lifetime {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 80%;
  height: 50%;
  opacity: 200;
  font-family: 'Quicksand', sans-serif;
  font-size: 10em;
}

#disclaimer {
  border-top: 2px solid black;
}
