/***** NAVBAR *****/
nav {
  background-color: black;
  color: #fff;
  padding-bottom: 1px;
  font-family: 'Quicksand', sans-serif;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 90%;
}

nav ul li {
  display: inline-block;
  margin: 0 5% 0 5%;
}

nav a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  /*text-decoration: none;*/
  transform: scale(1.8);
  transition: all 1s ease-in-out;
}

.logo {
  height: 75px;
  width: 75px;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}


/*Drawers*/
.menu-left {
  flex-direction: row:ltr;
  height:100%;
  display:none;
  background-color: black;
  color: white;
  position: fixed;
  left:0;
  z-index: 1;
  right:auto;
  bottom: 0;
  width:0px;
  overflow: auto;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

.menu-right {
  order: 1;
  display: -webkit-flex:;
  -webkit-flex-derction: row-reverse;
  height: 100%;
  display:none;
  /*flex-direction: row;*/
  background-color: black;
  color: white;
  position: fixed;
  right:0;
  z-index: 1;
  left:auto;
  bottom: 0;
  width:0px;
  overflow: auto;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

#profile_image {
  width:50%;
  height:50%;
}

/*CLOCK BEGINS*/
#clock {
  color: black;
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid black;*/
  width: 80%;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

#plus {
  color: green;
}

#minus {
  color: red;
}
/*CLOCK ENDS*/

.li {
  text-align: center;
}

#left_side_bar_content{
  margin-left: 8%;
  margin-right: 8%;
  list-style-type: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
}















