h1 {
  color: #3333CC;
  font-family: 'Quicksand', sans-serif;
  font-size: 5em;
}

body {

  font-family: 'Quicksand', sans-serif;
}


#arrow {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*border: 6px solid green;*/
  width: 90%;
  max-width: 100px;
  height: 90px;
}

/**{
  outline: cyan solid 1px;
}*/
/*Content*/
#parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}
.fusion {
  height: 550px;
  width: 100%;
  -webkit-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  background-color: black;
}
#main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
}
#mountain {
  background: transparent;
  min-height: 400px;
  height: 1100px;
}
#valley {
  background: transparent;
  min-height: 400px;
  height: 1100px;
}
#river {
  background: transparent;
  min-height: 400px;
  height: 1100px;
}
#player {
  margin-top: 2%;
  margin-right: 5%;
  float: right;
}
#motto {
  height: 100%;
  width: 30%;
  margin-left: 35%;
}
.home_box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-top: 45px;
  padding-bottom: 25px;
  table-layout: fixed;
}
.motto_content {
  margin-top: 10%;
  margin-bottom: 25%;
  font-size: 2em;
  color: #99CCFF;
  text-align: center;
}
.inner-fusion {
  margin: 0 auto;
  height: 100%;
}
#phase {
  height: 100%;
  width: 30%;
  margin-left: 35%;
}
#social {
  height: 100%;
  width: 30%;
  margin-left: 35%;
}
