body {
  font-family: 'Quicksand', sans-serif;
}

span {
  font-size: 10px;
}

#arrow {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*border: 6px solid green;*/
  width: 90%;
  max-width: 100px;
  height: 90px;
}

.make_this_black {
  background-color: black;
}
/**{
  outline: cyan solid 1px;
}*/
/*Content*/
#parallax {
  width: 100%;
  height: 100%;
  text-align: center;
}
.fusion {
  height: 550px;
  width: 100%;
  -webkit-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 15px 9px rgba(0,0,0,0.8);
  background-color: black;
}
#main {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}
#mountain {
  background: transparent;
  min-height: 400px;
  height: 1100px;
  padding-top: 10px;
}
#motto {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.home_box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-top: 45px;
  padding-bottom: 25px;
  table-layout: fixed;
}
.motto_content {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 24px;
  color: #99CCFF;
  text-align: center;
}
.inner-fusion {
  margin: 0 auto;
  height: 100%;
}

#login {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  border: 6px solid black;
  background-color: #99CCFF;
}

#lifetime {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  border: 6px solid black;
  background-color: #99CCFF;
}