
<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>

  <div id="main" class="parallax-window" data-parallax="scroll" data-image-src="../assets/running.jpg">
    <div id="lifetime">
      <a href="">lifetime</a>
    </div>

  </div>
<div id="parallax">

  <div class="make_this_black">
    <div id="arrow"><%= image_tag "arrow.gif" %></div>
  </div>
  <!-- main end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="motto">
        <div class="home_box">

          <div class="motto_content">
            Cardiovascular disease kills 610,000 people in the United States every year.</br></br>LifeTime aspires to encourage long term behavioral change and reduce these staggering statistics by offering a way to visualize the direct impact of daily lifestyle decisions as they pertain to diet and exercise.</br></br>Login with Jawbone!</br>See a graphical display of how your lifestyle choices impact your health and longetivity.</br></br><span>Fact courtesy of Centers for Disease Control and Prevention.</span>
          </div>

       </div>
      </div>
    </div>
  </div>
  <!-- mountain begin -->
  <div id="mountain" class="parallax-window" data-parallax="scroll" data-image-src="../assets/parallax1.jpeg">
    <div id="login">
      <h1>login with Jawbone</h1>
    </div>
  </div>

  <!-- mountain end -->
</div>


























