<div id="parallax">
  <div class="make_this_black">
    <div id="arrow"><%= image_tag "arrow.gif" %></div>
  </div>

  <div id="main" class="parallax-window" data-parallax="scroll" data-image-src="../assets/running.jpg">
    <div id="lifetime">
      <span>LifeTime</span>
    </div>
  </div>


  <!-- main end -->
  <div class="fusion">
    <div class="inner-fusion">
      <div id="motto">
        <div class="home_box">

          <div class="motto_content">
              LifeTime aims to improve users' health and lifestyle by inspiring behavioral change.
          </div>


       </div>
      </div>
    </div>
  </div>
  <!-- mountain begin -->
  <div id="mountain" class="parallax-window" data-parallax="scroll" data-image-src="../assets/parallax1.jpeg">
    <div id="login">
      <a href="https://localhost:3000/auth/jawbone"><h1>login with <span class="jawbone">JAWBONE</span></h1></a>
      <p id="disclaimer">Disclaimer: We are not doctors, and this is in no way real medical advice. If you are concerned, contact a real doctor.</p>
    </div>
  </div>

  <!-- mountain end -->
</div>

























